<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create - Pesona's Flower</title>

    <link rel="stylesheet" th:href="@{/css/editDetail.css}">
    

</head>
<body>
<div class="wrapper">
    <div class="container main">
        <div class="row d-flex justify-content-center">
            <form role="form" method="post" th:action="@{/detail/create}" th:object="${detail}">
                <div class="input-box">
                    <header style="font-size: 30px; margin-bottom: 20px;">Create Detail</header>
                    <div class="input-field">
                        <label for="harga_bunga">Harga</label>
                        <input 
                            type="text"
                            class="form-control"
                            id="harga_bunga"
                            name="harga_bunga"
                            th:field="*{harga_bunga}"
                            placeholder="Harga Bunga">
                        <p th:if="${#fields.hasErrors('harga_bunga')}" class="text-danger" th:errors="*{harga_bunga}"></p>
                    </div> 
                    <div class="input-field">
                        <label for="nama_bunga">Nama Bunga</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nama_bunga"
                            name="nama_bunga"
                            th:field="*{nama_bunga}"
                            placeholder="Nama Bunga">
                        <p th:if="${#fields.hasErrors('nama_bunga')}" class="text-danger" th:errors="*{nama_bunga}"></p>
                    </div> 
                    <div class="input-field" style="padding-bottom: 20px;">
                        <label for="foto_bunga">Foto</label> 
                        <span>
                            <i class="fa fa-cloud-upload text-light fa-5x" aria-hidden="true"></i>
                        </span>
                        <input
                            type="file"
                            class="text-dark"
                            id="foto_bunga"
                            name="foto_bunga"
                            th:field="*{foto_bunga}"
                            placeholder="Upload Foto Bunga">
                    </div> 
                    <div class="input-field">
                        <label for="detail_bunga">Detail</label>
                        <textarea
                            class="form-control"
                            id="detail_bunga"
                            name="detail_bunga"
                            th:field="*{detail_bunga}"
                            placeholder="Detail Bunga"
                            oninput="adjustTextareaHeight(this)"></textarea>
                        <p th:if="${#fields.hasErrors('detail_bunga')}" class="text-danger" th:errors="*{detail_bunga}"></p>
                    </div> 
                    <div class="input-field">
                        <label for="deskripsi_bunga">Deskripsi</label>
                        <textarea
                            class="form-control"
                            id="deskripsi_bunga"
                            name="deskripsi_bunga"
                            th:field="*{deskripsi_bunga}"
                            placeholder="Deskripsi Bunga"
                            oninput="adjustTextareaHeight(this)"></textarea>
                        <p th:if="${#fields.hasErrors('deskripsi_bunga')}" class="text-danger" th:errors="*{deskripsi_bunga}"></p>
                    </div> 
                    <div class="input-field">
                        <input type="submit" class="submit" value="Create">
                    </div> 
                </div>  
            </form>
        </div>
    </div>
</div>

<script>
function adjustTextareaHeight(textarea) {
    textarea.style.height = 'auto';
    textarea.style.height = textarea.scrollHeight + 'px';
}

document.addEventListener('DOMContentLoaded', function () {
    var textareas = document.querySelectorAll('textarea');
    textareas.forEach(function(textarea) {
        adjustTextareaHeight(textarea);
    });
});
</script>
</body>
</html>
