<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create - Pesona's Flower</title>
    
    <link rel="stylesheet" th:href="@{/css/editDetail.css}">
</head>
<body>
<div class="wrapper">
    <div class="container main">
        <div class="row d-flex justify-content-center">
            <div class="close d-flex justify-content-end">
                <a href="/home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path d="M20 2.5C10.25 2.5 2.5 10.25 2.5 20C2.5 29.75 10.25 37.5 20 37.5C29.75 37.5 37.5 29.75 37.5 20C37.5 10.25 29.75 2.5 20 2.5ZM26.75 28.75L20 22L13.25 28.75L11.25 26.75L18 20L11.25 13.25L13.25 11.25L20 18L26.75 11.25L28.75 13.25L22 20L28.75 26.75L26.75 28.75Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <form class="col-md-6 right" role="form" method="post" th:action="@{/home/create}" th:object="${galeri}" enctype="multipart/form-data">
                <div class="input-box">
                    <header style="font-size: 30px; margin-bottom: 20px;">Create Bunga Unggulan</header>
                    <div class="input-field">
                        <label for="nama">Nama Bunga</label>
                        <input 
                            type="text"
                            class="form-control"
                            id="nama"
                            name="nama"
                            th:field="*{nama}"
                            placeholder="Ketik nama bunga..">
                        <p th:if="${#fields.hasErrors('nama')}" class="text-danger" th:errors="*{nama}"></p>
                    </div> 
                    <div class="input-field" style="padding-bottom: 20px;">
                        <label for="foto">Foto</label> 
                        <span>
                            <i class="fa fa-cloud-upload text-light fa-5x" aria-hidden="true"></i>
                        </span>
                        <input
                            type="file"
                            accept="image/*"
                            class="text-dark"
                            id="fileFoto"
                            name="fileFoto"
                            placeholder="Upload Foto Bunga">
                    </div> 
                    <div class="input-field">
                        <input type="submit" class="submit" value="Create">
                    </div> 
                </div>  
            </form>
        </div>
    </div>
</div>

<script>
function adjustTextareaHeight(textarea) {
    textarea.style.height = 'auto';
    textarea.style.height = textarea.scrollHeight + 'px';
}

document.addEventListener('DOMContentLoaded', function () {
    let textareas = document.querySelectorAll('textarea');
    textareas.forEach(function(textarea) {
        adjustTextareaHeight(textarea);
    });
});
</script>
</body>
</html>
